{% include base_path %}
{% assign current_file = page.file_no | default: "023" %}
{% if page.url == "/" or page.url == "/index.html" %}
  {% assign current_file = "000" %}
{% endif %}
<div class="br-footer">
  <span>END FILE {{ current_file }}{% if page.file_label %} / {{ page.file_label | upcase }}{% elsif page.title %} / {{ page.title | upcase }}{% endif %}</span>
  <span>{% if page.record_count %}{{ page.record_count }}{% else %}{{ site.author.email | upcase }}{% endif %}</span>
  <a href="#top">↑ TOP</a>
</div>
